{% macro recursiveSections(children) %}
    {% for child in children %}
        {% if child.type == 'toggle' %}
            <li ng-class="{active:$state.includes('{{ child.includes }}')}">
                <a md-ink-ripple>
                    <span class="pull-right text-muted">
                        <i class="fa fa-caret-down"></i>
                    </span>
                    <i class="icon i-20 {{ child.icon }}"></i>
                    <span class="font-normal">{{ child.title }}</span>
                </a>
                {% if child.children is defined and child.children|length %}
                    <ul class="nav nav-sub">
                        {{ _self.recursiveSections(child.children) }}
                    </ul>
                {% endif %}
            </li>
        {% elseif child.type == 'link' %}
            <li {% if 'includes' not in child|keys %}ui-sref-active="active"{% endif %}
                    {% if 'includes' in child|keys %}ng-class="{active:$state.includes('{{ child.includes }}')}"{% endif %}>
                <a md-ink-ripple ui-sref="{{ child.state }}">
                    {% if 'icon' in child|keys %}
                        <i class="icon i-20 {{ child.icon }}"></i>
                    {% endif %}
                    {{ child.title }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
{% endmacro %}

<md-toolbar class="md-whiteframe-z1">
    <div class="md-toolbar-tools">
        {#<i class="fa fa-apple" style="font-size: 36px"></i>#}
        <img src="{{ asset('bundles/backend/img/logo/mini-logo-w.png') }}" style="width: 38px; height: 30px">
        <span class="app-title" ng-bind="$appName">
        </span>
    </div>
</md-toolbar>
<md-content flex="">
    <nav ui-nav>
        <ul class="nav">
            <li class="nav-header m-v-sm hidden-folded">
                Options
            </li>

            <li ng-class="{active:$state.includes('app')}">
                <a md-ink-ripple>
                <span class="pull-right text-muted">
                    <i class="fa fa-caret-down"></i>
                </span>
                    <i class="icon i-20 mdi mdi-settings"></i>
                    <span class="font-normal">{{ 'menu.config'|trans }}</span>
                </a>
                <ul class="nav nav-sub">
                    <li ui-sref-active="active">
                        <a md-ink-ripple ui-sref="app.bundles">{{ 'menu.bundles'|trans }}</a>
                    </li>
                    <li ui-sref-active="active">
                        <a md-ink-ripple ui-sref="app.routes">{{ 'menu.routes'|trans }}</a>
                    </li>
                    <li ui-sref-active="active">
                        <a md-ink-ripple ui-sref="app.database">{{ 'menu.database'|trans }}</a>
                    </li>
                    <li ui-sref-active="active">
                        <a md-ink-ripple ui-sref="app.commands">{{ 'menu.commands'|trans }}</a>
                    </li>
                </ul>
            </li>

            {{ _self.recursiveSections(menu) }}
        </ul>
    </nav>
</md-content>
<nav class="help-block-backend">
    <ul class="nav">
        <li ui-sref-active="active">
            {#<a>#}
                {#<i class="icon mdi mdi-help-circle i-20"></i>#}
                {#Help & FeedBack#}
                &nbsp;
            {#</a>#}
        </li>
    </ul>
</nav>